.about-wrapper--name {
  width: 72px;
  height: 35px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 1.25;
  text-align: left;
  color: #111111;
}

.about-wrapper--value {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-wrapper--taste {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-wrapper--price {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-wrapper__def {
  width: 38px;
  height: 15px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 1.33;
  text-align: left;
  color: $greyish-brown;
}

.about-wrapper__val {
  width: 39px;
  height: 15px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 1.33;
  text-align: right;
  color: $greyish-brown;
}
