.about-wrapper {
  &--name {
    width: 72px;
    margin-bottom: 28px;
    font-weight: 500;
    font-family: "Oswald", "Arial", sans-serif;
    text-transform: uppercase;
    line-height: 1.25;
    color: #111111;
  }

  &--taste {
    width: 100%;
    margin-bottom: 2px;
    display: flex;
    justify-content: space-between;
  }

  &--price {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &--value {
    width: 100%;
    margin-bottom: 2px;
    display: flex;
    justify-content: space-between;
  }
}

.about-wrapper__def {
  width: 38px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 1.33;
  color: $greyish-brown;
}

.about-wrapper__val {
  width: 39px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 1.33;
  text-align: right;
  color: $greyish-brown;
}

@media (min-width: $tablet-width) {
  .about-wrapper {
    &--name {
      width: 50%;
      margin: 0 auto 30px;
      text-align: center;
      font-family: "Oswald", "Arial", sans-serif;
      font-size: 20px;
      color: #111111;
    }

    &--taste {
      width: 100%;
      position: relative;
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        top: 23px;
        background-color: rgb(200, 200, 200);
      }
    }

    &--price {
      width: 100%;
      position: relative;
      display: flex;
      justify-content: space-between;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        top: 23px;
        background-color: rgb(200, 200, 200);
      }
    }

    &--value {
      position: relative;
      width: 100%;
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        top: 23px;
        background-color: rgb(200, 200, 200);
      }
    }

    &--taste span {
      width: auto;
      font-size: 16px;
    }

    &--price span {
      width: auto;
      font-size: 16px;
    }

    &--value span {
      width: auto;
      font-size: 16px;
    }
  }
}

@media (min-width: $desktop-width) {
  .about-wrapper {
    &--name {
      width: 73%;
    }
  }
}
