.cat-logo--slim {
  width: 35px;
  height: 49px;
  object-fit: contain;
  padding: 0 0 10px 10px;
}

.cat-logo--mass {
  position: absolute;
  top: 10px;
  left: -8px;
  width: 67px;
  height: 28px;
  object-fit: contain;
}
