.copyright__link {
  text-decoration: none;
}

.copyright__info {
  width: 120px;
  height: 16px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1;
  text-align: left;
  color: $greyish-brown;
}

.copyright__logo {
  width: 27px;
  height: 34px;
  object-fit: contain;
  transform: scale(1.6);
}
