.example-section {
  background-color: $white-two;
  padding: 33px 0 39px;

  &__header {
    padding: 0 20px;
    box-sizing: border-box;
  }

  &__headline {
    margin: 0;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 36px;
    font-weight: normal;
    line-height: 1.67;
    color: #111111;
  }

  &__par {
    font-family: "Arial", sans-serif;
    font-size: 14px;
    margin-top: 30px;
    line-height: 1.29;
    color: $greyish-brown;
    padding-right: 14px;
  }

  &__main {
    box-sizing: border-box;
    position: relative;
    width: 280px;
    margin: 25px auto 100px;
  }

  &__spending {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__costs {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 80px;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.43;
    color: #111111;
  }

  &__weight-loss,
  &__days-spend {
    box-sizing: border-box;
    padding-top: 10px;
    height: 56px;
    width: 122px;
    border-radius: 3px;
    border: solid 1px #cdcdcd;
  }

  &__before-after {
    width: 200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__before-text,
  &__after-text {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.25;
    color: #111111;
    text-transform: uppercase;
  }

  &__demonstration {
    text-align: center;
  }

  &__switcher {
    position: relative;
    display: inline-block;
    width: 84px;
    height: 14px;
  }

  &__switcher input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  &__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    border-radius: 6px;
  }

  &__slider::before {
    position: absolute;
    content: "";
    height: 6px;
    width: 35px;
    left: 4px;
    bottom: 4px;
    background-color: $leaf;
    border-radius: 3px;
  }

  &__switcher input:checked + &__slider::before {
    transform: translateX(40px);
  }
}

.weight-loss {
  &--value {
    display: inline-block;
    width: 122px;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 24px;
    text-align: center;
    color: #111111;
  }

  &--disc {
    display: block;
    box-sizing: border-box;
    margin: auto;
    position: relative;
    text-align: center;
    width: 87px;
    padding: 0 17px 0 16px;
    top: 8px;
    font-family: "Arial", sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: $greyish-brown;
    background-color: $white-two;
  }
}

.days-spend {
  &--value {
    display: inline-block;
    width: 122px;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 24px;
    text-align: center;
    color: #111111;
  }

  &--disc {
    display: block;
    box-sizing: border-box;
    margin: auto;
    position: relative;
    text-align: center;
    width: 87px;
    padding: 0 15px;
    top: 8px;
    font-family: "Arial", sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: $greyish-brown;
    background-color: $white-two;
  }
}
