.page-footer {
  background-color: $white-two;
}

.page-footer__logo-img {
  width: 128px;
  height: 24px;
  object-fit: contain;
  margin: 39px 96px 31px;
}

.page-footer__socials {
  width: 128px;
  margin: 24px auto 21px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.socials__vk-icon {
  width: 22px;
  height: 12px;
  object-fit: contain;
}

.socials__insta-icon {
  width: 17px;
  height: 17px;
  object-fit: contain;
}

.socials__fb-icon {
  width: 10px;
  height: 19px;
  object-fit: contain;
}

.page-footer__copyright {
  width: 280px;
  margin: 22px auto 0;
  padding-bottom: 22px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.copyright__link {
  text-decoration: none;
}

.copyright__info {
  width: 120px;
  height: 16px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: $greyish-brown;
}

.copyright__logo {
  width: 27px;
  height: 34px;
  object-fit: contain;
  transform: scale(1.6);
}

.separator {
  width: 280px;
  height: 1px;
  margin: 0 20px;
  background-color: $greyish-brown;
  opacity: 0.1;
}
