.get-more-section__headline {
  margin: 0;
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 1.25;
  font-size: 16px;
  font-weight: 100;
  text-align: center;
  color: #111111;
}

.get-more-section__advert {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  color: $greyish-brown;
}

.get-more-section__show-all {
  width: 280px;
  padding: 10px 0;
  background-color: $white-two;
  border: none;
  margin: 10px 20px 25px;
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 1.25;
  text-align: center;
  color: $greyish-brown;
}
