.green-btn {
  width: 280px;
  padding: 13px 0 12px;
  margin: 10px 0 0 20px;
  background-color: #68b738;
  border: none;
}

.green-btn__text {
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 100;
  line-height: 1.25;
  text-align: center;
  color: #ffffff;
}
