.green-btn {
  width: 280px;
  padding: 10px 0;
  margin-left: 20px;
  background-color: #68b738;
  border: none;
}

.green-btn__text {
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 100;
  font-size: 14px;
  line-height: 1.25;
  text-align: center;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .green-btn {
    width: auto;
    padding: 15px 30px;
    position: absolute;
    top: 350px;
    left: 100px;
    margin-top: 20px;
  }

  .green-btn__text {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 20px;
    text-align: left;
    color: #ffffff;
  }
}
