.green-btn {
  width: 280px;
  height: 40px;
  margin: 10px 20px 0;
  background-color: #68b738;
  border: none;
}

.green-btn__text {
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #ffffff;
}
