.item-image__wrapper {
  width: 60px;
  height: 60px;
  background-color: #68b738;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  &--healthy {
    background-image: url("../../img/advantage-leaf@1x.png");
    background-position: center;
  }

  &--powder {
    background-image: url("../../img/advantage-powder@1x.png");
    background-position: center;
  }

  &--diet {
    background-image: url("../../img/advantage-dining@1x.png");
    background-position: center;
  }

  &--result {
    background-image: url("../../img/advantage-clock@1x.png");
    background-position: center;
  }
}

@media (min-width: $tablet-width) {
  .item-image__wrapper {
    margin-bottom: 20px;
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    counter-reset: number;

    &--healthy::after {
      counter-increment: section;
      content: counter(section);
      z-index: -1;
      position: absolute;
      bottom: 345px;
      left: 115px;
      font-family: "Oswald", "Arial", sans-serif;
      font-size: 281px;
      text-align: left;
      color: #f2f2f2;
    }

    &--powder::after {
      counter-increment: section;
      content: counter(section);
      z-index: -1;
      position: absolute;
      bottom: 345px;
      right: 115px;
      font-family: "Oswald", "Arial", sans-serif;
      font-size: 281px;
      text-align: left;
      color: #f2f2f2;
    }

    &--diet::after {
      counter-increment: section;
      content: counter(section);
      z-index: -1;
      position: absolute;
      bottom: 45px;
      left: 115px;
      font-family: "Oswald", "Arial", sans-serif;
      font-size: 281px;
      text-align: left;
      color: #f2f2f2;
    }

    &--result::after {
      counter-increment: section;
      content: counter(section);
      z-index: -1;
      position: absolute;
      bottom: 45px;
      right: 115px;
      font-family: "Oswald", "Arial", sans-serif;
      font-size: 281px;
      text-align: left;
      color: #f2f2f2;
    }
  }
}

@media (min-width: $desktop-width) {
  .item-image__wrapper {
    &--healthy::after {
      bottom: 43px;
      left: 16%;
    }

    &--powder::after {
      bottom: 43px;
      left: 37%;
    }

    &--diet::after {
      bottom: 43px;
      left: 58%;
    }

    &--result::after {
      bottom: 43px;
      left: 79%;
    }
  }
}
