.logo-wrapper {
  &--mass {
    position: relative;
  }
}

@media (min-width: $tablet-width) {
  .logo-wrapper {
    &--mass {
      position: absolute;
    }
  }
}

@media (min-width: $desktop-width) {
  .logo-wrapper {
    &--mass {
      position: relative;
      top: 0;
      left: 0;
    }

    &--slim {
      position: relative;
      top: 0;
      left: 0;
    }
  }
}
