.nav-list__item {
  width: 100%;
  padding: 24px 0 24px;
  border-top: 0.2px solid $white-two;
}

.nav-list__link {
  width: 100%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list__text {
  width: 100%;
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: #111111;
}

@media (min-width: $tablet-width) {
  .nav-list {
    &__item {
      padding: 0 15px;
      display: inline-block;
      width: auto;
      border: none;
    }

    &__link {
      width: auto;
    }

    &__text {
      width: auto;
      font-family: "Oswald", "Arial", sans-serif;
      font-size: 18px;
      font-weight: 500;
      color: #222222;
    }
  }
}

@media (min-width: $desktop-width) {
  .nav-list {
    &__item {
      padding: 0 7px;
    }
  }
}
