.page-main__advert-container {
  position: relative;
}

.page-main__headline-wrapper {
  width: 100%;
  height: 120px;
  border-top: 1px solid $white-two;
}

.page-main__product {
  width: 320px;
  height: 210px;
  box-sizing: border-box;
  border-top: 1px solid $white-two;
}

.page-main__get-more-section {
  width: 320px;
  height: 210px;
  border-top: 1px solid $white-two;
  border-bottom: 1px solid $white-two;
}

.page-main__headline {
  width: 100%;
  height: 38px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 1.67;
  color: #111111;
}

.page-main__programm {
  width: 280px;
  height: 266px;
  margin: 22px 20px 20px 20px;
  background-color: $white-two;
}
