.page-header {
  width: 320px;
  height: 65px;
  background-color: $white;
}

.page-header__logo {
  display: flex;
  justify-content: space-around;
}

.page-header__logo-image {
  width: 191px;
  height: 39px;
  margin-top: 11px;
}

.page-header__menu {
  width: 25px;
  height: 19px;
  margin-top: 22px;
}

.page-header__nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .page-header {
    display: inline-block;
    box-sizing: border-box;
    width: 174px;
    height: 80px;
    margin: 0 34px 0 0;

    &__logo {
      height: 100%;
    }

    &__logo-image {
      padding-top: 30px;
      margin: 0;
    }

    &__menu {
      display: none;
    }
  }

  .page-header__nav {
    display: inline-block;
    box-sizing: border-box;
    width: 500px;
    text-align: right;
  }
}
