.index-background-mobile {
  width: 320px;
  height: 305px;
  object-fit: contain;
}
.advert__headline {
  width: 245px;
  height: 74px;
  font-family: "Oswald-Regular";
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: $white;
}
