.page-main__advert-container {
  position: relative;
}

.page-main__headline-wrapper {
  padding: 0 30px 30px 20px;
  border-top: 1px solid $white-two;
}

.page-main__product {
  width: 320px;
  padding: 5px 7px 25px 0;
  box-sizing: border-box;
  border-top: 1px solid $white-two;
}

.page-main__get-more-section {
  width: 320px;
  border-top: 1px solid $white-two;
  border-bottom: 1px solid $white-two;
}

.page-main__headline {
  width: 100%;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 500;
  margin: 10px 0 45px;
  line-height: 1.67;
  color: #111111;

  &--catalog {
    margin: 10px 0 0;
  }

  &--product-description {
    margin: -10px 0 20px;
  }
}

.page-main__headline-par {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
  color: #111111;
}

.page-main__programm {
  width: 280px;
  padding-bottom: 20px;
  margin: 22px 20px 20px 20px;
  background-color: $white-two;
}
