.page-main__advert-container {
  background-color: #68b738;
  background-image: url("../../img/index-background-mobile.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 37px 170px 38px;
}

.page-main__headline-wrapper {
  padding: 0 30px 30px 20px;
  border-top: 1px solid $white-two;
}

.page-main__product {
  width: 320px;
  padding: 5px 7px 25px 0;
  box-sizing: border-box;
  border-top: 1px solid $white-two;
}

.page-main__get-more-section {
  width: 320px;
  border-top: 1px solid $white-two;
  border-bottom: 1px solid $white-two;
}

.page-main__headline {
  width: 100%;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 500;
  margin: 10px 0 45px;
  line-height: 1.67;
  color: #111111;

  &--catalog {
    margin: 10px 0 0;
  }

  &--product-description {
    margin: -10px 0 20px;
  }
}

.page-main__headline-par {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
  color: #111111;
}

.page-main__programm {
  width: 280px;
  padding-bottom: 20px;
  margin: 22px 20px 20px 20px;
  background-color: $white-two;
}

@media (min-width: $tablet-width) {
  .page-main__advert-container {
    width: 60%;
    background-image: none;
    background-color: #ffffff;
    margin: 20px 0 80px 120px;
  }

  .page-main__programm {
    box-sizing: border-box;
    width: auto;
    margin: 0 30px 30px 30px;
    padding: 60px 52px 62px 52px;
    position: relative;

    &--mass {
      padding: 60px 52px 86px 52px;
    }
  }

  .page-main__headline {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 60px;
    text-align: left;
  }

  .page-main__headline-par {
    &--programm {
      width: 45%;
      margin-left: 35px;
      font-family: "Oswald", "Arial", sans-serif;
      font-size: 20px;
      line-height: 1.5;
      text-align: left;
      color: #111111;
    }
  }

  .page-main__headline-wrapper {
    position: absolute;
    padding: 0;
    top: -270px;
    border: none;
    color: #111111;

    &--programm {
      position: static;
      padding: 30px;
    }
  }

  .page-main__products-section {
    position: relative;
    margin: 300px 0 0 0;
    padding: 0 30px;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .page-main__product {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 40vw;
    border: none;
    margin-bottom: 140px;
    background-color: rgb(243, 243, 243);
    padding: 0 38px 40px;

    &:nth-child(even) .product__image-wrapper {
      margin-top: -65px;
    }

    &:nth-child(odd) .product__image-wrapper {
      margin-bottom: 85px;
    }

    &:last-child {
      justify-content: space-evenly;
      background-color: #ffffff;
      border: 2px solid rgb(243, 243, 243);
    }
  }

  .page-main__product button {
    position: static;
    align-self: flex-end;
    width: 100%;
    padding: 5px 20px;
    margin: 0;
  }

  .page-main__get-more-section {
    display: inline-block;
  }
}

@media (min-width: $desktop-width) {
  .page-main__advert-container {
    width: 50%;
    max-width: 1100px;
    margin: 0;
    padding-left: 13%;
  }

  .page-main__headline {
    &--product-description {
      margin: 0 0 60px 0;
    }
  }

  .page-main__headline-par--form {
    margin: 0;
  }

  .page-main__programm-selection {
    margin-top: 300px;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
  }

  .page-main__programm {
    box-sizing: border-box;
    width: 47%;
    margin: 0;
    padding: 47px 0 62px 53px;
  }

  .page-main__programm-selection .index-can {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 15%;
    left: 39%;
  }

  .page-main__programm-selection button {
    top: 45%;
    left: 11.5%;
  }

  .page-main__product {
    width: auto;

    & button {
      padding: 13px 53px 12px 55px;
      align-self: flex-end;
    }

    &:nth-child(odd) .product__image-wrapper {
      margin: -65px 0 65px 0;
    }

    &:nth-child(even) .product__image-wrapper {
      margin: -40px 0 40px 0;
    }

    &:last-child {
      padding-top: 55px;
      justify-content: space-between;
      flex-shrink: 0;
    }
  }

  .page-main__products-section {
    padding: 0 111px;
  }

  .page-main--form {
    padding: 0 113px;
  }

  .page-main__headline-wrapper--form {
    position: static;
    margin-bottom: 69px;
  }
}
