.page-header {
  width: 320px;
  height: 65px;
  background-color: $white;
}

.page-header__logo {
  display: flex;
  justify-content: space-around;
}

.page-header__logo-image {
  width: 191px;
  height: 39px;
  margin-top: 11px;
}

.page-header__menu {
  width: 25px;
  height: 19px;
  margin-top: 22px;
}

.page-header__nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .page-header {
    display: inline-block;
    box-sizing: border-box;
    width: 174px;
    height: 80px;
    margin: 0 34px 0 0;

    &__logo {
      height: 100%;
      margin-left: 30px;
    }

    &__logo-image {
      padding-top: 30px;
      margin: 0;
    }

    &__menu {
      display: none;
    }
  }

  .page-header__nav {
    display: inline-block;
    box-sizing: border-box;
    width: 500px;
    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    height: 166px;
    width: 50%;
    margin: 0;
    padding: 0;

    &--catalog {
      width: auto;
      height: auto;
      position: static;
      padding: 53px 0 53px 109px;
    }

    &__logo {
      margin: 0;
      position: relative;
    }

    &__logo-image {
      padding: 0;
      position: absolute;
      left: 13%;
      top: 25%;
    }
  }

  .page-header__nav {
    float: right;
    height: 696px;
    width: 50%;
    margin: 0;
    padding: 0;
    background-color: rgb(109, 180, 109);
    background-image: url("../../img/index-background-desktop@1x.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &--catalog {
      width: auto;
      height: auto;
      padding: 77px 111px;
      background-image: none;
      background-color: #ffffff;
    }
  }

  .page-header__nav-list {
    width: 75%;
    margin: auto;
    padding-top: 10%;

    &--catalog {
      width: auto;
      height: auto;
      display: block;
      position: static;
      margin: 0;
      padding: 0;
    }
  }

  .page-header__nav-list span {
    height: 20px;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 20px;
    line-height: 1.25;
    color: #ffffff;
  }

  .page-header__nav-list--catalog span {
    color: black;
  }
}
