.page-footer {
  width: 320px;
  background-color: $white-two;
}

.page-footer__logo-img {
  width: 128px;
  height: 24px;
  object-fit: contain;
  margin: 39px 96px 31px;
}

.page-footer__socials {
  width: 128px;
  margin: 24px auto 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-footer__copyright {
  width: 280px;
  margin: 22px auto 0;
  padding-bottom: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .page-footer {
    box-sizing: border-box;
    width: 100%;
    padding: 60px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__logo-img {
    margin: 0;
  }

  .page-footer__socials {
    margin: 0;
  }

  .page-footer__copyright {
    width: auto;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }
}
