.product__wrapper {
  width: 100%;
  display: flex;
}

.product__image-wrapper {
  width: 150px;
  height: 144px;
}

.product__image {
  width: 140px;
  height: 144px;
}

.product__about-wrapper {
  padding-top: 5px;
  width: 150px;
}

@media (min-width: $tablet-width) {
  .product__image-wrapper {
    width: auto;
    text-align: center;
    margin-top: -100px;
    margin-bottom: 50px;
  }

  .product__image {
    width: auto;
    height: auto;
  }

  .product__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .product__about-wrapper {
    margin: 0 auto 30px;
    width: 100%;
  }
}
