.product__wrapper {
  width: 100%;
  display: flex;
}

.product__image-wrapper {
  width: 150px;
  height: 144px;
}

.product__image {
  width: 140px;
  height: 144px;
}

.product__about-wrapper {
  padding-top: 5px;
  width: 150px;
}
