.programm-footer__catalog-link {
  width: 85px;
  height: 15px;
  margin-left: 20px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Oswald", "Arial", sans-serif;
  color: #111111;
}
