.programm-main {
  margin: 25px 59px 0 20px;
}

.programm-main__info {
  width: 230px;
  height: 86px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.29;
  text-align: left;
  color: $greyish-brown;
}
