.programm__separator {
  width: 240px;
  height: 1px;
  margin: 23px auto 20px;
  background-color: $greyish-brown;
  opacity: 0.1;
}

.programm--mass {
  margin-bottom: 0;
}

@media (min-width: $tablet-width) {
  .programm__separator {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .programm {
    box-sizing: border-box;

    &--mass {
      padding-right: 74px;
    }

    &--slim {
      padding-right: 56px;
    }
  }
}
