$leaf: #68b738;
$aqua-marine: #56c3b2;
$very-light-pink: #f1f1f1;
$seafoam-blue: #63d1bb;
$white-two: #f2f2f2;
$dark-blue-grey: #192144;
$lipstick: #d22856;
$pale-grey: #edeff6;
$light-gold: #ffd74b;
$mango: #ffa530;
$mango-two: #ff8d30;
$mango-three: #ffbd30;
$greyish-brown: #444444;
$dark-blue-grey-two: #141b3b;
$dark-slate-blue: #1d2e5b;
$dark-blue-grey-three: #121936;
$medium-pink: #ed5565;
$french-blue: #4758a9;
$salmon: #f97676;
$green-apple: #81e31e;
$white: #ffffff;
$very-dark-brown: #010000;
$white-15: rgba(255, 255, 255, 0.15);
$black: #000000;
